/* Bootstrap overides */

.modal-backdrop.fade
{
  opacity: 0.5;
}
.modal-open .modal
{
  opacity: 1;
}

.modal
{
    padding-top: 200px;
}

.modal-header
{
    padding: 20px 15px 15px 15px;
}

/* Site wide style */
body
{
    background-color: #90CAF9;
}

.headerBar
{
    background-color:white;
    box-shadow: 0px 4px 2px rgba(125, 125, 125, 0.3);
}

.closeButton
{
    background-color: transparent;
    padding:1px 6px 1px 6px;
    border: 1px solid #e6e6e6;
}

/* Content Styles */

.SharedWeatherCard
{
    text-align: center;
    background-color:white;
    box-shadow: 6px 6px 10px rgba(125, 125, 125, 0.3);
    margin-top:25px;
    padding: 25px;
    border-radius: 3px;
}

.ForecastHeaderCard
{
    background-color:white;
    box-shadow: 6px 6px 10px rgba(125, 125, 125, 0.3);
    margin-top:25px;
    border-radius: 3px;
}

.ForecastTitle
{
    text-align: center;
    margin-top: 10px !important;
}

.weatherHeader
{
    margin: 0px, 0px, 5px, 0px;
}

.BackToAllWeather
{
    float:left;
    padding-top: 13px;
    position: absolute;
    z-index: 10;
}

.futureWeatherForecast
{
    padding-top: 20px;
    text-align: right;
}

.addCity
{
    padding-top:17px;
}